/*General Styles*/
body{
    font-family: 'Source Sans Pro', sans-serif;
}
/*Header Styles*/
header{
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 999;
}

header>h1{
    font-size: 28px;
    font-weight: 700;
    margin-left: 70px;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
}

.navbarLeft{
    display: flex;
    width: 25%;
    justify-content: space-around;
}

.navbarItem{
    list-style: none;
    
}
.navbarItem>a{
    text-decoration: none;
    color: grey;
    font-size: 18px;
    font-weight: 500;
}

.navbarItem>a:hover{
    color: black;
    font-weight: 550;
    cursor: pointer;
}

.navbarRight{
    display: flex;
    justify-content: flex-end;
    width: 30%;
    margin-right: 70px;
}

.navBarBtn{
    margin-right: 15px;
    padding: 10px 18px;
    border-radius: 20px;
    border: none;
    color: grey;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    
}

.SignUP{
    background-color: #2dd0cf;
    color: #fff;
}

.SignUP:hover{
    background-color: #9ce2e2;
    transition: ease 0.3s;
}

.menu-icon{
    margin-right: 30px;
    font-size: 30px;
    color: gray;
    display: none;
}

/*Mobile Menu Styles*/
.mobile-menu{
    width: 80%;
    height: 350px;
    background-color: #4b406b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px auto 10px auto;
    border-radius: 15px;
}
.menu-item{
    margin-bottom: 25px;
    font-size: 22px;
    
}
.menu-item > a{
    color: #fff;
    text-decoration: none;
    
}

.mobile-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.SignUP-mobile{
    padding: 20px 60px 20px 60px;
    border:none;
    border-radius: 50px;
    background-color: #2dd0cf;
    color: #fff;
    font-size: 18px;
}

.line{
    width: 80%;
    height: 2px;
    margin-top: 20px;
    background-color: grey;
}

.hidden{
    display: none;
}
/*Menu media queries*/
@media only screen and (max-width: 375px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav{
        display: none;
    }

    .menu-icon{
        display: inline-block;
    }
}
/*Hero Styles*/
#hero{
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
}

.heroLeft{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.heroTitle{
    font-size: 55px;
    font-weight: 700;
    width: 60%;
    line-height: 60px;
    color: #34313c;
}

.heroParagraph{
    color: gray;
    font-size: 20px;
    width: 60%;
    line-height: 30px;
    margin-top: 15px;
}

.heroRight{
    width: 50%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroRight>img{
    margin-top: 85px;
    width: 70%;
    height: 300px;
    object-fit: cover;
}

.heroBtn{
    width: 150px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: #2dd0cf;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}

.heroBtn:hover{
    background-color: #9ce2e2;
    transition: ease 0.3s;
    cursor: pointer;
}



/*Hero Media Queries*/
@media only screen and (max-width: 375px){
    #hero{
        flex-wrap: wrap;
        height: auto;
    }
    .heroLeft{
        width: 90%;
        margin-top: 100px;
    }

    .heroRight{
        width: 100%;
    }

    .heroRight>img{
        margin-top: 85px;
        width: 70%;
        height: 200px;
        object-fit: cover;
    }
} 

/*Hero Input Styles*/
.heroShorterInput{
    height: 120px;
    width: 90%;
    margin: 0 auto;
    background-image: url("../images/bg-shorten-desktop.svg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #3a3053;
    position: absolute;
    top: 500px;
    left:70px;
    margin-top: 50px;
}

.result{
    position: absolute;
    top: 700px;
    left: 70px;
    width: 87%;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    
}

.result-hidden{
    display: none;
}

.originalLink{
    color: #34313c;
    font-size: 18px;
    font-weight: 600;
}

.resultlink{
    margin-right: 15px;
    color: #2dd0cf;
    font-size: 18px;
    font-weight: 600;
}

.copyBtn{
    background-color:#2dd0cf;
    border: none;
    padding: 8px 20px 8px 20px;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}
.inputContainer{
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.inputContainer>input{
    height: 45px;
    width: 85%;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.inputContainer>input::placeholder{
    padding-left: 20px;
    font-size: 18px;
}

.btnShortenInput{
    width: 160px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: #2dd0cf;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.btnShortenInput:hover{
    background-color: #9ce2e2;
    transition: ease 0.3s;
    cursor: pointer;
}

/*Hero Input Media Queries*/
@media only screen and (max-width: 375px){
    .heroShorterInput{
        top: 870px;
        left:20px;
        height: 90px;
        width: 90%;
    

    }

    .inputContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .inputContainer>input{
        height: 35px;
        width:100%;
        margin-right: 10px;
        font-size: 16px;
        margin-bottom: 5px;
    
    }

    .btnShortenInput{
        width: 90%;
        height: 35px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 500;
    }

    .inputContainer>input::placeholder{
        text-align: center;
        font-size: 12px;
    }
} 
/*Statistcs Section Styles*/
#statistics{
    width: 100%;
    height: 850px;
    background-color: #f0f1f6;
}
.sectionText{
    width: 35%;
    margin: 0 auto;
    padding-top: 180px;
    text-align: center;
}

.statisticsTitle{
    font-family: 'Source Sans Pro', sans-serif;
    color: #2f2d36;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}

.statisticsParagraph{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: grey;
    line-height: 25px;
}

.cardsContainer{
    margin-top: 20px;
    height: 590px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}

.card{
    width: 300px;
    height: 300px;
    background-color: transparent;
    position: relative;
    padding:10px;

}


.cardPosition1{
    top:50px;
}

.cardPosition2{
    top:100px;
}

.cardPosition3{
    top:200px;
}
.iconContainer{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #353254;
    position: absolute;
    top:0px ;
    left: 40px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.textContainer{
    width: 100%;
    height: 180px;
    position: absolute;
    top:30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 30px;
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px;
}

.cardTitle{
    font-size: 20px;
    font-weight: 600;
    color: #2f2d36;
    margin-bottom: 15px;
    
}

.cardInfo{
    font-size: 18px;
    color: gray;
    margin-bottom: 20px;
}

.iconImg1{
    width: 40px;
    height: 40px;
    object-fit: cover;
}

/*Statistcs Media Queries*/
@media only screen and (max-width: 375px){
    #statistics{
        height: 1400px;

    }
    .cardsContainer{
        grid-template-columns:  1fr;
        height: 900px;
        width: 100%;
        
    }
    .card{
        margin: 0 auto;
        width: 250px;
        
        
    }
    .sectionText{
        
        padding-top: 100px;
        
    }
    .cardPosition1{
        top:50px;
    }
    
    .cardPosition2{
        top:50px;
    }
    
    .cardPosition3{
        top:50px;
    }

} 

@media only screen and (max-width: 900px){
    #statistics{
        height: 1400px;
        width: 100%;
    }
    .cardsContainer{
        grid-template-columns:  1fr;
        height: 800px;
        

    }
    .card{
        margin: 0 auto;
    
    }

    .sectionText{
        
        padding-top: 100px;
        
    }
    .cardPosition1{
        top:50px;
    }
    
    .cardPosition2{
        top:50px;
    }
    
    .cardPosition3{
        top:50px;
    }

} 

/* Boost Section Styles*/
#boostSection{
    width: 100%;
    height: 240px;
    background-image: url("../images/bg-boost-desktop.svg");
    background-color: #3a3053;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boostTitle{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.getStarted{
    width: 180px;
    height: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    border-radius: 50px;
    border: none;
    background-color: #2dd0cf;
    color: #fff;
    font-weight: 600;
}

.getStarted:hover{
    background-color: #9ce2e2;
    transition: ease 0.3s;
    cursor: pointer;
}

/* Boost Section Media Queries*/
@media only screen and (max-width: 375px){
    .boostTitle{
        
        font-size: 32px;
        font-weight: 500;
        
    }

} 
/*Footer Styles*/
footer{
    width: 100%;
    height: 300px;
    background-color: #232027;
    color: #fff;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    padding-top: 60px;
}

.footerlogo{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}

.footerTitle{
    font-size: 18px;
    font-weight: 550;
    margin-bottom: 45px;
}

.footerItem{
    margin-bottom: 20px;
    cursor: pointer;
}

.socialIcon{
    font-size: 12px;
    margin-right: 15px;
    cursor: pointer;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    background-color: #232027;
    color: #fff;
    padding-bottom: 10px;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}

/*Footer Media Queries*/
@media only screen and (max-width: 375px){
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        grid-template-columns: 1fr;
        height: auto;
        
    }

    .footerlogo{
        margin-bottom: 50px;
    }
    .socialLinks{
        margin:20px 0 20px 0;
    }
}